{% extends "base.html" %}

{% block title %}
    Expense History
{% endblock %}

{% block styles %}
    <!-- DataTables CSS -->
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
    <!-- Your custom styles -->
    <link href="/static/css/lib/expenses.css" rel="stylesheet">
{% endblock %}

{% block main %}
    <h1>Expense History</h1>

    {% if history %}
        <!--Table functionality courtesy of DataTables.net-->
        <table id="expenses" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Payer</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Date</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in history %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ expense[1] }}</td>
                        <td>{{ expense[2] }}</td>
                        <td>{{ expense[3] }}</td>
                        <td>{{ expense[4] }}</td>
                        <td>{{ expense[5] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You don't have any expenses yet 😥</p>
    {% endif %}

{% endblock %}

{% block scripts %}
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- DataTables -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <!-- DataTables Buttons -->
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
    <!-- DataTables PDFMake -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <!-- DataTables HTML5 export -->
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <!-- Custom script for initializing DataTables -->
    <script>
        $(document).ready(function() {
            $('#expenses').DataTable();
        });
    </script>
{% endblock %}
